/*.
     colors
     bg #000
     orange #ff9501
     grey #a6a6a6
     white #fdfdfd
     */

    
         
     
     html, body{
        height: 100%;
        
    }
    body{
        margin: 0;
        background: linear-gradient( 45deg, blue, white, #ff0000, black );
        animation: gradient 10s ease infinite;
        background-size: 400% 400%;
    }
    @keyframes gradient {
        0%{
            background-position: 0 50%;
        }
        50%{
            background-position: 100% 50%;
        }
        100%{
            background-position: 0 50%;
        }
    }
    header{
        width: 100%;
        background-color: rgba(19, 7, 7, 0.658);
        z-index: 1000;
        position: fixed;
        top: 0;
        

    }
    .container{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    ul{
        list-style: none;
        display: flex;
        align-items: center;
        
    }
    li{
        margin: 0 10px;

    }
    a{
        color: #fff;
        text-decoration: none;
        
    }
    .logo{
        width: 150px;
    }
    a:hover{
        border-bottom: 2px solid rgb(81, 119, 241);
        padding-bottom: 2px;
    }
    
